apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.serviceName }}
  namespace: {{ .Values.namespace }}
  labels:
    app: myapp3
spec:
  type: NodePort
  selector:
    app: myapp3
  ports:
    - port: {{ .Values.ports.containerPort }}
      targetPort: {{ .Values.ports.containerPort }}
      nodePort: {{ .Values.ports.nodePort }}
